<div class="text-white font-bold border-round bottom-0 footer">
    <div class="grid">
        <div class="col text-center mt-6">
            <h2>
                About Us
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quasi, deleniti quia pariatur, repudiandae
                dolorum quis mollitia cumque sint est accusamus, a nihil suscipit quos quibusdam minima eos! Earum,
                accusamus?
            </p>
        </div>
        <div class="col text-center mt-6">
            <h1>Contact Us</h1>
            <i class="pi pi-whatsapp" style="font-size: 4rem; color: green; margin-right: 1%"></i>
            <i class="pi pi-telegram" style="font-size: 4rem; color: cyan; margin-right: 1%;"></i>
            <i class="pi pi-instagram" style="font-size: 4rem; color: pink; margin-right: 1%"></i>
            <i class="pi pi-twitter" style="font-size: 4rem; color: cyan; margin-right: 1%"></i>
            <i class="pi pi-facebook" style="font-size: 4rem; color: rgb(0, 68, 255);"></i>
        </div>
        <div class="col text-center mt-3 align-items-center">
            <img src="/assets/map.png" alt="" srcset="" style="width: 90%; height: 100%;">
        </div>
    </div>
</div>