<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <div class="col-2 logo">
            <img src="/assets/logo.jpeg" height="50" />
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search" (keyup)="searchValue(search.value)" class="w-full" (keyup.enter)="searchEnter(search.value)" [value]="searchParam" #search/>
    </ng-template>
</p-menubar>
<p-toast position="center" [baseZIndex]="5000" [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div *ngIf="isShoppingCart">
                <div style="background-color: white;">
                    <h4 class="text-center">Shopping Cart</h4>
                    <p-divider></p-divider>
                    <ul>
                        <div class="grid">
                            <div class="field col-2">
                                <b>Quantity</b>
                            </div>
                            <div class="field col text-center">
                                <b>Product</b>
                            </div>
                            <div class="field col text-center">
                                <b>Total</b>
                            </div>
                        </div>
                        <div *ngFor="let product of productsInCart">
                            <li>
                                <div class="grid">
                                    <div class="field col-2 text-center">
                                        {{product.quantity}}x
                                    </div>
                                    <div class="field col text-center">
                                        {{product.name}}
                                    </div>
                                    <div class="field col text-center">
                                        {{product.price | number: '1.2-2'}}
                                    </div>
                                </div>
                            </li>
                            <p-divider></p-divider>
                        </div>
                    </ul>
                    <b>TOTAL IN CART: </b> ${{totalShoppingCart}}
                    <p-divider></p-divider>
                    <div class="grid p-fluid">
                        <div class="col-6">
                            <button type="button" pButton (click)="onConfirmCart()" label="Save Order" class="p-button-danger"></button>
                        </div>
                        <div class="col-6">
                            <button type="button" pButton label="Continue Shopping" (click)="onRejectCart()" class="p-button-success"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isBuyingOrderProcess">
                <div style="background-color: white;">
                    <h4 class="text-center">Order Sumary</h4>
                    <p-divider></p-divider>
                    <ul>
                        <div class="grid">
                            <div class="field col-2">
                                <b>Quantity</b>
                            </div>
                            <div class="field col text-center">
                                <b>Product</b>
                            </div>
                            <div class="field col text-center">
                                <b>Total</b>
                            </div>
                        </div>
                        <div *ngFor="let product of orderSaved.shoppingCart.products">
                            <li>
                                <div class="grid">
                                    <div class="field col-2 text-center">
                                        {{product.quantity}}x
                                    </div>
                                    <div class="field col text-center">
                                        {{product.name}}
                                    </div>
                                    <div class="field col text-center">
                                        {{product.price | number: '1.2-2'}}
                                    </div>
                                </div>
                            </li>
                            <p-divider></p-divider>
                        </div>
                    </ul>
                    <b>Subtotal: </b> ${{orderSaved.total - orderSaved.taxes | number: '1.2-2'}} <br>
                    <b>Taxes: </b> ${{orderSaved.taxes | number: '1.2-2'}} <br>
                    <b>Total to pay: </b> ${{orderSaved.total | number: '1.2-2'}}
                    <p-divider></p-divider>
                    <div class="grid p-fluid">
                        <div class="col-6">
                            <button type="button" pButton (click)="onConfirmBuy()" label="Complete Order" class="p-button-danger"></button>
                        </div>
                        <div class="col-6">
                            <button type="button" pButton label="Cancel Order" (click)="onRejectBuy()" class="p-button-success"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>