<app-navbar></app-navbar>
<div class="card mt-8 ml-4 mr-4 shadow-2 border-round mr-4 ml-4">
    <p-card header="Save new product to sale" class="text-center">
        <div class="formgrid grid gap-3 mt-4">
            <div class="field col">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                    </span>
                    <span class="p-float-label">
                        <input pInputText placeholder="ID" [(ngModel)]="product.productId" [required]="true" />
                        <label>Product ID</label>
                    </span>
                </div>
            </div>
            <div class="field col">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText placeholder="Name" [(ngModel)]="product.name" [required]="true" />
                        <label>Name</label>
                    </span>
                </div>
            </div>
            <div class="field col">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                    </span>
                    <span class="p-float-label">
                        <p-inputNumber [(ngModel)]="product.quantityAvailable" inputId="quantityAvailable" mode="decimal" [min]="1" placeholder="Quantity Available"> </p-inputNumber>
                        <label>Quantity Available</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="formgrid grid gap-3 mt-4">
            <div class="field col">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                    </span>
                    <span class="p-float-label">
                        <p-inputNumber [(ngModel)]="product.price" inputId="minmaxfraction" mode="currency"
                            currency="USD" locale="en-US" placeholder="Price"> </p-inputNumber>
                        <label>Price</label>
                    </span>
                </div>
            </div>
            <div class="field col">
                <p-multiSelect [options]="categoriesFromBD" [(ngModel)]="selectedCategories"
                    defaultLabel="Select categories for the product" optionLabel="name" display="chip" [ngStyle]="{ 'width': '100%'}"></p-multiSelect>
            </div>

        </div>
        <div class="formgrid grid gap-3 mt-4">
            <div class="field col">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                    </span>
                    <span class="p-float-label">
                        <textarea rows="6" cols="30" placeholder="Description" pInputTextarea
                            [(ngModel)]="product.description"></textarea>
                        <label>Description</label>
                    </span>
                </div>
            </div>
            <div class="field col">
                <div class="p-inputgroup">
                    <p-fileUpload name="images[]" (onSelect)="onSelect($event)" [multiple]="true" accept="image/*"
                        [maxFileSize]="10000000" (onRemove)="onRemove($event)" (onClear)="onClear()"
                        [showUploadButton]="false" [ngStyle]="{ 'width': '100%'}">
                    </p-fileUpload>
                </div>
            </div>
        </div>

        <button pButton pRipple label="Save New Product" icon="pi pi-user-plus" class="w-full"
            (click)="saveProduct()"></button>
    </p-card>
</div>

<p-toast position="center" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid" *ngIf="(!isErrorForm)">
                <div class="col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Ok" class="p-button-danger"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton label="Close" (click)="onReject()" class="p-button-success"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>